#outlined-basic {
  width: 270px !important;
}

.signup {
  margin-left: 250px;
  /* margin-top: 10px; */
  width: 1000px;
  height: 600px;
  border: 2px solid grey;
  text-align: center;
  box-shadow: 10px 10px 10px 10px darkgrey;
}

.stack {
  justify-content: center;
}

.heading {
  color: navy;
  font-size: 36px;
  font-weight: bolder;
}